section.blog .blog-image {
    width: 100%;
    aspect-ratio: 4/2.6;
    object-fit: cover;
    border-radius: 6px;
}

section.blog .blog-other {
    padding-bottom: 12px;
    border-bottom: 1px solid rgba(var(--primary-color), 1);
}

section.blog .blog-other .other-wrapper p {
    font-size: 0.875rem;
}

section.blog .blog-title {
    font-size: 1.25rem;
    font-family: var(--urbanist-bold);
}
