section.how-work .banner-how-work {
    width: 100%;
    aspect-ratio: 4/1.5;
    object-fit: cover;
    border-radius: 6px;
}

section.how-work .work-number {
    width: 52px;
    height: 52px;
    text-align: center;
    border-radius: 6px;
    color: rgba(var(--light-color), 1);
    font-family: var(--urbanist-bold);
    font-size: 1.5rem;
    background-color: rgba(var(--primary-color), 1);
    display: flex;
    align-items: center;
    justify-content: center;
}

section.how-work .work-title {
    font-size: 1.25rem;
    font-family: var(--urbanist-bold);
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

section.how-work .work-description {
    font-size: 0.875rem;
    color: rgba(var(--dark-color), 0.62);
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
